{% load polaaar_tags %}


<div class="row">
  
    {% if test %}

    <div class="col-1" style="padding-top:30px;">
        Min: <input id="min" name="min" type="number" step="0.01">
    </div>
    <div class="col-1" style="padding-top:30px;">
        Max: <input id="max" name="max" type="number" step="0.01">
    </div>
    {% else %}
    {% endif %}

</div>


<div class="row">
    <div class="col-12">
        <table id="myTable" class="display nowrap" style="width:100%">
            <thead>
                <tr>
                    <th style="display:none">id</th>
                    <th>Project name</th>
                    <th>Event hierarchy</th>
                    <th>Event name</th>
                    <th>Location (Lat/Lon)</th>

                    <th>Value</th>
                    <th>Units</th>
                    <th>Collection date</th>
                    <th>Sequences</th>
                    <th>Download</th>
                </tr>
            </thead>
            <tbody>
                {% for i in qsenv %}
                <tr>
                    <td style="display:none">{{i.id}}</td>
                    <td><a href="/pola3r/search/?pid={{ i.event.event_hierarchy.project_metadata.id }}">{{i.event.event_hierarchy.project_metadata.project_name}}</a></td>
                    <td>{{i.event.event_hierarchy.event_hierarchy_name}}</td>
                    <td>{{i.event.sample_name}}</td>
                    <td>{{i.event.Longitude}}/{{i.event.Latitude}}</td>
                    {% if i.env_variable.var_type == "NUM" %}
                    <td>{{i.env_numeric_value}}</td>
                    {% else %}
                    <td>{{i.env_text_value}}</td>
                    {% endif %}
                    <td>{{i.env_units.name}}</td>
                    <td>{{i.event.collection_year|default_if_none:"NA"}}-{{i.event.collection_month|default_if_none:"NA"}}-{{i.event.collection_day|default_if_none:"NA"}}</td>

                    <td style="text-align:center;font-size:16pt">
                        {% if i.event.sequences_exists == True %}
                        <i style="color:green;" class="fas fa-check-circle pl-1"></i>
                        {% else %}
                        <i style="color:red" class="fas fa-times-circle pl-1"></i>
                        {% endif %}
                    </td>

                    <td style="font-size:25pt;color:black">
                        <a href="/pola3r/export_environment/?id={{i.id}}"><i class="fas fa-file-excel pl-1"></i></a>
                        <a href="/pola3r/environment/{{i.pk}}"><i class="fas fa-file-code pl-1"></i></a>
                    </td>

                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>

    <div class="col-3">
        <button class="btn btn-biodiversity-teal btn-lg" style="width:100%" onclick="getPOLA3Rdata(0,'export_environment','EXCEL')">Download Excel <i class="fas fa-file-excel pl-1"></i></button>
    </div>
    <div class="col-3">
        <button class="btn btn-biodiversity-teal btn-lg" onclick="getPOLA3Rdata(0,'environmental_variables','JSON')" style="width:100%">Download JSON <i class="fas fa-file-code pl-1"></i></button>
    </div>
</div>





<script>

    $.fn.dataTable.ext.search.push(
        function (settings, data, dataIndex) {

            if (settings.nTable.id !== 'myTable') {
                return true;
            }
            var min = parseFloat($('#min').val(), 10);
            var max = parseFloat($('#max').val(), 10);
            var valu = parseFloat(data[5]) || 0; //Use the 5th column (Value) to filter the data.

            if ((isNaN(min) && isNaN(max)) ||
                (isNaN(min) && valu <= max) ||
                (min <= valu && isNaN(max)) ||
                (min <= valu && valu <= max)) {
                return true;
            }
            return false;
        }
    );

    $(document).ready(function () {
        var table = $('#myTable').DataTable();

        table.column(0).visible(false)

        $('#min, #max').keyup(function () {
            table.draw();
        });

    });

</script>
