

<div class="row" style="border-width:0px">
    
    <div class="col-12">
        <h2>Search below to find the projects that have sampled specific environmental data (you can filter by multiple variables): </h2>
    </div>
    <div class="col-12 col-md-6">       
        <select style="display:inline-block;width:100%" class="selectpicker show-tick" data-live-search="true" id="Search" multiple data-width="100%">
            {% for i in qs %}
                <option value="{{i.name}}">{{i.name}} ({{i.var_type}})</option>                
            {% endfor %}
        </select>
        
    </div>
</div>    
<div class="row" style="border-width:0px;">
    <div class="col-12 col-md-3">
        <button style="display:inline-block;width:100%" type="button" class="btn btn-biodiversity-lightblue" id="searchbut" onclick="search()"><span class="glyphicon glyphicon-search"></span> Search</button>
    </div>

    <div class="col-12" id="dataholder">

    </div>

</div>

<script type="text/javascript">

        $(document).ready(function () {
            $('.selectpicker').selectpicker({
                size: 10,

            });
        });

    function search() {
		var X = $('#Search option:selected');

        var vars = []
        for (var i = 0; i < X.length; i++) {
			vars.push(X[i].getAttribute('value'));
        }
        //var vals = X.split(' ')
        
        var URL = 'polaaar/data/var/?var='.concat(vars)//.concat('&vartype=').concat(vals[1]);

        $.ajax({
        url: URL,
        dataType: "html",
        async: false,
        success: function (data) {
            $('#dataholder').html(data);
        }
    })

    }



</script>