<div class="row" style="border-width:0px;">
    <div class="col-12">

        <table id="myTable" class="display nowrap" width="100%">
            <thead>
                <tr>
                    <th style="display:none">id</th>
                    <th>Project</th>
                    <th>Event hierarchy</th>
                    <th>Event</th>
                    <th>Sequence name</th>
                    <th>Gene</th>
                    <th>URL</th>                    
                </tr>
            </thead>
            <tbody>
                {% for i in qs %}
                <tr>
                    <td style="display:none">{{i.id}}</td>
                    <td><a href="/pola3r/search/?pid={{ i.event.event_hierarchy.project_metadata.id }}">{{i.event.event_hierarchy.project_metadata.project_name}}</a></td>
                    <td>{{i.event.event_hierarchy.event_hierarchy_name}}</td>
                    <td>{{i.event.sample_name}}</td>
                    <td>{{i.sequence_name}}</td>
                    <td>{{i.target_gene}}</td>
                    <td>{{i.seqData_url}}</td>                    
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>

    <div class="col-3">
        <button class="btn btn-biodiversity-teal btn-lg" style="width:100%" onclick="getPOLA3Rdata(0,'export_sequences','EXCEL')">Download EXCEL <i class="fas fa-file-excel pl-1"></i></button>        
    </div>
    <div class="col-3">
        <button class="btn btn-biodiversity-teal btn-lg" onclick="getPOLA3Rdata(0,'sequences','JSON')" style="width:100%">Download JSON <i class="fas fa-file-code pl-1"></i></button>
    </div>

</div>




<script>
    $(document).ready(function () {
        var Mytable = $('#myTable').DataTable();
        Mytable.column(0).visible(false)
    });


    

</script>