{% extends "base.html" %}
{% load static leaflet_tags geojson_tags %}


{% block title %}
POLA3R data
{% endblock title %}


{% block body_class %}{% endblock %}

{% block extra_css %}
{% leaflet_css plugins="draw" %}
{% endblock extra_css %}

{% block content %}

<div class="container">
    <div class="row" style="padding-top:20px; border-width:0px;">

        <div class="col-12 col-md-8">
            <div class="row" style="border-width:0px;">
                <div class="col-12">
                    <h3>Search for events by drawing a polygon: </h3>
                    <p>Use the toolbar on the left (the hexagon will draw a free form polygon, and the square will allow you to create a bounding box).
                     You can download your selection as a JSON file or data spreadsheet (XLSX format)</p>
                </div>
                <div class="col-12">
                    {% leaflet_map "landing_map" callback="window.map_init"  %}
                    <p style="font-size:10pt;">Map attribution: Tiles &copy; Esri &mdash; Source: Esri, DeLorme, NAVTEQ, USGS, Intermap, iPC, NRCAN, Esri Japan, METI, Esri China (Hong Kong), Esri (Thailand), TomTom, 2012</p>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-4">
            <div class="row">
                <div class="col-12" style="padding-bottom:40px">
                    <a role="button" href="{% url 'polaaar:polaaar_search' %}" class="btn btn-mdb btn-lg waves-effect" style="width:100%;">
                        Return to text search <i class="fas fa-arrow-left pl-1"></i>
                    </a>
                </div>
                <div class="col-12">
                    <h3>Vertice coordinates: </h3>

                    <textarea id="coordbox" rows="5" ,cols="80"></textarea>

                </div>
                <div class="col-12" style="padding-top:20px">
                    <button class="btn btn-biodiversity-teal btn-lg waves-effect" style="width:100%;" onclick="showTable()">
                        Search <i class="fas fa-search pl-1"></i>
                    </button>
                </div>

                <!--<div class="col-12" style="padding-top:20px">
                    <button class="btn btn-biodiversity-teal btn-lg waves-effect" style="width:100%;" onclick="searchEvents('JSON')">
                        Download JSON <i class="fas fa-file-code pl-1"></i>
                    </button>
                </div>
                <div class="col-12" style="padding-top:20px">
                    <button class="btn btn-biodiversity-teal btn-lg waves-effect" style="width:100%;" onclick="searchEvents('EXCEL')">
                        Download EXCEL <i class="fas fa-file-excel pl-1"></i>
                    </button>
                </div>-->
            </div>
        </div>
        <div class="col-12"><hr /></div>

    </div>
    
    <div id="spatialsearched"></div>

</div>


{% block extra_js %}

<style>

    .leaflet-container { /* all maps */
        width: 100%;
        height: 400px;
        -webkit-box-shadow: 10px 10px 42px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 10px 10px 42px 0px rgba(0,0,0,0.75);
        box-shadow: 10px 10px 42px 0px rgba(0,0,0,0.75);
    }

    #specialbigmap {
        height: 800px;
    }

    /* Resize the "display_raw" textbox */
    .django-leaflet-raw-textarea {
        width: 100%;
    }

    .leaflet-control-attribution{
        display:none;
    }
</style>

<script type="text/javascript">
    var collection = {{ qs_results|geojsonfeature:"popupContent"|safe }};

    function map_init(map, options) {


        var geojsonMarkerOptions = {
            radius: 3,
            fillColor: "#ff7800",
            color: "#000",
            weight: 1,
            opacity: 1,
            fillOpacity: 0.8
        };

        var ggJSON = L.geoJson(collection,{
            pointToLayer: function(feature,latlng){
                return L.circleMarker(latlng,geojsonMarkerOptions);
			},
            onEachFeature: function (feature, layer) {
                layer.bindPopup(feature.properties.popupContent);
            }
        }).addTo(map);

        L.tileLayer('https://server.arcgisonline.com/ArcGIS/rest/services/World_Street_Map/MapServer/tile/{z}/{y}/{x}', {
            attribution: ''
        }).addTo(map);

        var drawnItems = L.featureGroup().addTo(map)

        
        var drawControl = new L.Control.Draw({
            edit: {
                featureGroup: drawnItems,
                poly: {
                    allowIntersection: false
                }
            },
            draw: {
                marker: false,
                circle: false, 
                polyline: false,
                circlemarker: false,
                polygon: {
                    allowIntersection: false,
                    showArea: true
                }
            }
        });
        map.addControl(drawControl);
    


        L.Polygon.include({
            contains: function (latLng) {
                return turf.inside(new L.circleMarker(latLng).toGeoJSON(), this.toGeoJSON());
            } 
        });

        L.Rectangle.include({
            contains: function (latLng) {
                return this.getBounds().contains(latLng);
            }
        });



        map.on("draw:created", function (e) {
            var layer = e.layer;
            //window.layer = layer
            drawnItems.addLayer(layer);

            
            var pgoncoordinates = layer.getLatLngs().toString()
            pcoords = pgoncoordinates.replace(/LatLng/g,"")
            pcoords = pcoords.replace(/\),/g,")\n")

            document.getElementById("coordbox").value = pcoords

            IDvals = []
            ggJSON.eachLayer(function (marker) {                
                if (layer.contains(marker.getLatLng())) {
                    IDvals.push(marker.feature.id)
                    marker.setStyle({fillColor:'#ba1111'})
                }
            });
            window.IDvals=IDvals


            drawControl.setDrawingOptions({
                polygon:false,
                rectangle:false
            });
            map.removeControl(drawControl);
            map.addControl(drawControl);
        });

        map.on("draw:deleted", function (e) {

            ggJSON.eachLayer(function (marker) {                
                marker.setStyle({fillColor:'#ff7800'})
            });

            document.getElementById("coordbox").value = ""
            drawControl.setDrawingOptions({
                polygon:true,
                rectangle:true
            });
            map.removeControl(drawControl);
            map.addControl(drawControl);
        });

  

    }

    
	function showTable() {
        URL = '/pola3r/spatial_search_table/?id='.concat(window.IDvals)
		$("#spatialsearched").load(URL)
		setTimeout(function () {
            document.getElementById('spatialsearched').scrollIntoView();
		},500)
        
    };

    function searchEvents(FORMAT) {

        if (FORMAT == 'JSON') {
            srcURL = '/pola3r/events/?id__in='.concat(window.IDvals)
            window.open(srcURL)
        } else if (FORMAT == 'EXCEL') {
            srcURL = '/pola3r/export_events/?id='.concat(window.IDvals)
            window.open(srcURL,'_parent')
        }


    }


</script>




{% endblock extra_js %}

{% endblock content %}
