{% load static menu_tags wagtailcore_tags wagtailimages_tags %}

<!--Footer-->
<footer class="page-footer text-center font-small mt-4 fadeIn" style="background-color: #0099CC;">
    <!-- linked pages -->
    <div class="pt-3 pb-1">
        {% for page in footer.footer_page %}
            {{ page }} {% if not forloop.last %}&ensp;|&ensp;{% endif %}
        {% endfor %}
    </div>
    <!-- logos -->
    <div class="py-3">
        {% for footer_logo in footer.logo %}
            {% image footer_logo.value.logo_image height-50 as logo %}
            <a href="{{ footer_logo.value.logo_url }}">
                <img src="{{ logo.url }}" alt="{{ logo.alt }}" width="{{ logo.width }}" height="{{ logo.height }}"
                     class="text-center mx-2"/>
            </a>

        {% endfor %}
    </div>
    <!-- Copyright -->
    <div class="footer-copyright pt-3">
        {% for text in footer.text %}
            {{ text }}
        {% endfor %}
    </div>
</footer>
<!--/.Footer-->