{% extends "rest_framework/base.html" %}
{% load static %}

{% block title %} Biodiversity.aq API {% endblock %}


{% block branding %}

<a class="navbar-brand" style="padding-bottom:90px;display:inline-block" href="/">
    <img src="{% static 'logos/logo-biodiversityaq-white.png' %}"
         alt="biodiversity.aq logo" height="60px">
</a>
<h2><a style="color:#fff" href="/api_reference/">API reference</a></h2>

{% endblock %}

{% block userlinks %}

{% if user.is_authenticated %}
<div class="dropdown">
    <button class="btn btn-biodiversity-blue dropdown-toggle" type="button" data-toggle="dropdown">
        {{user.username}}
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        <li><a href="{% url 'logout' %}?next={{ request.path }}">Log out</a></li>
        {% if user.is_administrator %}
        <li><a class="dropdown-item" href="/admin">Wagtail Admin</a></li>
        <li><a class="dropdown-item" href="/django-admin">Django Admin</a></li>
        {% endif %}
    </ul>
</div>

{% else %}
    <a role="button" href="{% url 'login' %}?next={{ request.path }}" class="btn btn-biodiversity-teal">Login</a>
{% endif %}



{% endblock %}