{% extends "base.html" %}
{% load static %}

{% block title %}
Biodiversity.aq API
{% endblock title %}


{% block body_class %}{% endblock %}

{% block extra_css %}{% endblock extra_css %}

{% block content %}

<div class="container">
	<div class="row">
		<div class="col-12">
			<h1>API Reference</h1>
			<p>
				The POLA<sub>3</sub>R API URL search query can be constructed by 
				appending the URL Endpoint to the domain, and then using the appropriate search string.
				(e.g., biodiversity.aq/pola3r/project_metadata/?start_date=2020-01-03).
				This takes the form:  <strong>biodiversity.aq/pola3r/{URL Endpoint}/?{Search handle}{Search parameter}{value}</strong>.
			</p>
			<p>The POLA<sub>3</sub>R data can be accessed and searched through this API in two ways:</p>
			<ol>
				<li>Pasting the search query URL into the browser, which will give the data in JSON format through the rest framework front end</li>
				<li>Using an HTML call service such as 'httpie' in Python or 'curl'</li>
			</ol>
		</div>
	</div>

	<div class="row">
		<div class="col-12">
			<div class="table-responsive-md">
				<table class="table table-hover">
					<thead>
						<tr>
							<th scope="col">Data level</th>
							<th scope="col">URL Endpoint</th>
							<th scope="col">Search handle</th>
							<th scope="col">Search parameters</th>
							<th scope="col">Description</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<th scope="row" rowspan="18">Project Metadata</th>
							<td rowspan="18">'/pola3r/project_metadata/'</td>
							<th>project_name</th>
							<td>"=","__icontains="</td>
							<td>The name of the project</td>
						</tr>
						<tr>
							<th scope="row">start_date</th>
							<td>"=", "__icontains=", "__gte=", "__lte="</td>
							<td>The date the project started.</td>
						</tr>
						<tr>
							<th scope="row">end_date</th>
							<td>"=", "__icontains=", "__gte=", "__lte="</td>
							<td>The date the project ended.</td>
						</tr>
						<tr>
							<th scope="row">abstract</th>
							<td>"__icontains="</td>
							<td>The abstract describing the project</td>
						</tr>
						<tr>
							<th scope="row">is_public</th>
							<td>"="</td>
							<td>"true" or "false" only - if the dataset is public</td>
						</tr>


						<tr>
							<th scope="row">project_creator__full_name</th>
							<td>"=","__icontains="</td>
							<td>The full name of the person who created the project</td>
						</tr>

						<tr>
							<th scope="row">associated_references__full_reference</th>
							<td>"__icontains="</td>
							<td>Any literature references associated with the project</td>
						</tr>

						<tr>
							<th scope="row">event_hierarchy__event_hierarchy_name</th>
							<td>"=","__icontains="</td>
							<td>The string name of the event hierarchy</td>
						</tr>

						<tr>
							<th scope="row">event_hierarchy__description</th>
							<td>"__icontains="</td>
							<td>The description of the event hierarchy</td>
						</tr>

						<tr>
							<th scope="row">event_hierarchy__event_type__name</th>
							<td>"__icontains="</td>
							<td>The type of event hierarchy</td>
						</tr>

						<tr>
							<th scope="row">event_hierarchy__event__parent_event__sample_name</th>
							<td>"__icontains="</td>
							<td>If the event hierarchy is a child of another event hierarchy, the name of the parent</td>
						</tr>


						<tr>
							<th scope="row">event_hierarchy__event__sample_name</th>
							<td>"__icontains="</td>
							<td>The name of the event</td>
						</tr>

						<tr>
							<th scope="row">event_hierarchy__event__event_metadata__sequence__sequence_name</th>
							<td>"=","__icontains="</td>
							<td>The unique name of the sequence</td>
						</tr>

						<tr>
							<th scope="row">event_hierarchy__event__event_metadata__sequence__target_gene</th>
							<td>"=","__icontains="</td>
							<td>The name of the target gene of the sequence</td>
						</tr>

						<tr>
							<th scope="row">event_hierarchy__event__sequences__primerName_forward</th>
							<td>"=","__icontains="</td>
							<td>The forward primer name</td>
						</tr>

						<tr>
							<th scope="row">event_hierarchy__event__sequences__primerName_reverse</th>
							<td>"=","__icontains="</td>
							<td>The reverse primer name</td>
						</tr>

						<tr>
							<th scope="row">event_hierarchy__event__sequences__seqData_numberOfBases</th>
							<td>"=","__gte=","__lte="</td>
							<td>The number of sequence bases</td>
						</tr>

						<tr>
							<th scope="row">event_hierarchy__event__sequences__seqData_numberOfSequences</th>
							<td>"=","__gte=","__lte="</td>
							<td>The total number of sequences</td>
						</tr>

						<tr>
							<th scope="row" rowspan="7">Sequences</th>
							<td rowspan="7">/pola3r/sequences/</td>
							<th scope="row">sequence_name</th>
							<td>"=","__icontains="</td>
							<td>The name of the sequence</td>
						</tr>

						<tr>
							<th scope="row">target_gene</th>
							<td>"=","__icontains="</td>
							<td>The name of the target gene of the sequence</td>
						</tr>

						<tr>
							<th scope="row">primerName_forward</th>
							<td>"=","__icontains="</td>
							<td>The forward primer name</td>
						</tr>

						<tr>
							<th scope="row">primerName_reverse</th>
							<td>"=","__icontains="</td>
							<td>The reverse primer name</td>
						</tr>

						<tr>
							<th scope="row">seqData_numberOfBases</th>
							<td>"=","__gte=","__lte="</td>
							<td>The number of sequence bases</td>
						</tr>

						<tr>
							<th scope="row">seqData_numberOfSequences</th>
							<td>"=","__gte=","__lte="</td>
							<td>The total number of sequences</td>
						</tr>



					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>


{% endblock content %}

{% block extra_js %}{% endblock extra_js %}

