{% load menu_tags %}
{% if menu_items %}
	{% for item in menu_items %}
        <a href="{{ item.href }}" class="dropdown-item my-0 {{ item.active_class }}"
           style="color: grey; font-size: 0.87rem;">&emsp;{{ item.text }}</a>
        {% if item.has_children_in_menu %}
            {% sub_menu item template=current_template %}
        {% elif forloop.last %}
            <div class="dropdown-divider my-0"></div>
        {% endif %}
	{% endfor %}
{% endif %}