{% load menu_tags %}
{% if menu_items %}
	{% for item in menu_items %}
        <a href="{{ item.href }}" class="dropdown-item my-0 {{ item.active_class }}">
            <strong>{{ item.text }}</strong>
        </a>
        {% if item.has_children_in_menu %}
            {% sub_menu item %}
        {% else %}
            <div class="dropdown-divider my-0"></div>
        {% endif %}
	{% endfor %}
{% endif %}
