{% load menu_tags %}
<!-- Collapsible content -->
<div class="collapse navbar-collapse" id="flatMenuCollapse">
    <ul class="navbar-nav mr-auto">
        {% for item in menu_items %}
            <li class="nav-item {{ item.active_class }}">
                <a class="nav-link" href="{{ item.href }}">{{ item.text }}</a>
            </li>
        {% endfor %}
    </ul>
</div>
<!-- Collapse button for flat menu -->
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#flatMenuCollapse"
        aria-controls="flatMenuCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span><i class="fas fa-info"></i></span>
</button>

